*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */



.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
}

.color-orange{
    color: #FD6E0A;
    font-weight: 900;
}

.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/* main style */

header{
    background-color: #FFF8F3;
    background: url("../images/developer.png"),url("../images/header_bg.png"),#FFF8F3;
    background-position: top left,bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px ;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}

#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;

}

.banner-image img{
    max-width: 585px;
    vertical-align: middle;
}

#about{
    max-width: 1140px;
    background-color: #FFF8F3;
    margin: 0 auto;
    margin-top: 130px;
}

#about .about-container{
    padding: 131px 157px;
}

.section-heading{
    text-align: center;
}

.section-heading h2{
    font-size: 38px;
    color: #181818;
    padding-bottom: 30px;
}

.section-heading p{
    color: #757575;
    font-size: 18px;
    padding-bottom: 30px;
}


.info-card p{
    font-size: 20px;
    color: #757575;
}

.info-card h4{
    font-size: 20px;
    color: #474747;
}

.about-info{
    display: flex;
    justify-content: space-around;
}